## Build results
bin/
obj/
out/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio Code
.vscode/

## NuGet packages
*.nupkg
packages/
.nuget/

## Logs
*.log

## Temporary files
*.tmp
*.temp

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## Configuration
appsettings.*.json

## Others
*.DS_Store
Thumbs.db
